li {
    list-style: none;
}
.list {
    display: flex;
}
.input {
    border: 1px solid seagreen;
    border-radius: 10px;
    padding: 5px 5px 5px 15px;
    font-size: 18px;
    outline: none;
    width: 210px;
}
td{
    width: 150px;
    font-size: 18px;
    color: seagreen;
}
.inputButton{
    border: 1px solid seagreen;
    background-color: transparent;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    color: tomato;
    outline: none;
}
td{
    overflow: hidden;
}